.projects {
  background-color: #f8fafa;
  padding-top: 4em;
  padding-bottom: 4em;
}

.projects-heading {
  font-size: 3.25em;
  color: rgba(117, 121, 149, 0.5);
  margin-top: 0;
  margin-bottom: 4rem;
  font-weight: 600;
}

.card {
  width: 22rem;
  justify-self: center;
  display: grid;
  position: relative;
  min-width: 10rem;
  max-width: 30rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.card-img_container {
  height: 20rem;
  border-radius: 5px;
}

.card-img {
  height: 20rem;
  object-fit: cover;
}

.card-buttons {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  position: relative;
  padding: 1rem;
  margin-top: 0;
}

.card-btn {
  width: 40% !important;
  margin: 0.25rem !important;
  padding: 0 !important;
}

.card-content {
  padding: 1rem;
}

.card-skills {
  opacity: 0.5;
}

.projects-container {
  justify-self: center;
  align-self: center;
}

@media only screen and (min-width: 48rem) {
  .card {
    width: 25rem;
  }
}

@media only screen and (min-width: 52rem) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 62rem) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 75rem) {
  .projects-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 82rem) {
  .card {
    width: 28rem;
  }
}
