.about {
  background-color: #f8fafa;
  padding-top: 4em;
  padding-bottom: 4em;
}

.about-heading {
  font-size: 3.25em;
  color: rgba(117, 121, 149, 0.5);
  margin-top: 0;
  margin-bottom: 3rem;
  font-weight: 600;
}

.about-btn {
  justify-self: center;
}

.about-para {
  line-height: 1.75rem;
}
