* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

i {
  background-color: #fff;
  border-radius: 50%;
  padding: 0.75rem;
  color: #45A29E;
}

.container {
  text-align: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.grid-container {
    display: grid;
}

.App {
  text-align: center;
}

.btn {
  font-size: .85rem;
  margin-top: 2rem;
  margin-bottom: 0;
  width: 100%;
  max-width: 12rem;
  opacity: 0.8;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 2.8;
  padding: 1rem;
  outline: none;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,.1),0 4px 8px rgba(0,0,0,.3);
}

.btn:hover {
  opacity: 1;
}

.btn-primary {
  background-color: #45A29E;
}

.btn-secondary {
  background-color: #2A7A77;
}

a {
  padding: 1rem .15rem;
  text-decoration: none;
  color: #ffffff;
}

img {
  width: 100%;
}